{% extends "root.html" %}
{% block title %} Sign In {% endblock %}
{% block content %}
<legend class="title">Sign In</legend>
{% for message in messages %}
<div class="error-msg">
  {{ message }}
</div>
{% endfor %}
<form action="" method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Username" required>
  <br>
  <br>
  <input type="password" name="password" placeholder="Password" required>
  <button class="signup-btn">Sign In</button>
  <div class="form-footer">
    <span class="b">Don't have an account?</span>
    <a class="b" href="{% url 'signup' %}">Sign Up</a>
    <p>
      forgotten password? <a href="{% url 'password_reset'%}">reset</a>
    </p>
  </div>
</form>
{% endblock %}