{% extends "root.html" %}
{% block title%} Sign up {% endblock%}

{% block content %}
<body>
   <div class="decorate">
   <header>
      <h1>Create An Account</h1>
      {% for message in messages%}
      <p>{{message}}</p>
      {% endfor %}
   </header>
   <main>
      <form action="" method="post">
	{% csrf_token %}
         <input class="user_data" type="text" placeholder="username" name="username">
         <input class="user_data" type="email" placeholder="email" name="email">
         <input class="user_data" type="password" placeholder="password" name="password">
         <input class="user_data" type="password" placeholder="confirm password" name="confirm_password">
         <button class="btn" >create account</button>
      </form>
   </main>
   <footer>
	   <p>already have an account ?<a href="{% url 'signin' %}">sign in</a></p>
	   <button class="btn"><a href="{% url     'index' %}">Home Page</a></button>
   </footer>
   </div>
</body>
{% endblock %}
